.header
{
    height : 60px;
    width: 100%;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.591);
    @include flex-center;
    @include respond-to(tablet-desktop)
    {
        height: 80px;
    }
    img{
        width: 170px;
        height: auto;
        @include respond-to(tablet-desktop)
            {
                width: auto;
                width: 250px;
            }

        }
}
