.header
{
    height : 60px;
    width: 100%;
    box-shadow: inset 0 -10px 10px -12px rgba(0, 0, 0, 0.5);
    @include flex-center;
  
    @media screen and (min-width: $breakpoint-desktop) {
        height: 80px;
        padding:30px 0 31.8px 0;
    }
    img{
        width: 170px;
        height: auto;
        @include respond-to(tablet-desktop)
            {
                width: auto;
                width: 250px;
            }

        }
}
