.header{
    height : 60px;
    width: 100%;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.591);
    @include flex-center;
    @media screen and (min-width: 768px){
        height: 80px;
    }
        img{
            width: 170px;
            height: auto;
            @media screen and (min-width: 768px){
                width: auto;
                width: 250px;
            }
        }
}