// loader.scss

.loader {
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100vh;
    pointer-events: none;
    background-color: #000000;
    @include flex-center;
    flex-direction: column;
    animation: visibility calc(4.5s /2) ease both;

    &__text {
        font-size: 30px;
        letter-spacing: 1px;
        color: $color-loader-text; // Utiliser la couleur définie pour le texte
        margin-top: 20px;
        position: relative;

        &::after {
            content: '...';
            position: absolute;
            left: 100%;
            animation: dots calc(2.25s /2) steps(4, end) infinite;
        }
    }

    &__cup {
        width: 48px;
        height: 40px;
        display: inline-block;
        position: relative;
        background: $color-loader-cup;
        border-radius: 15% 15% 35% 35%;
        
        &__steam {
            position: absolute;
            width: 100%;
            height: 100%;
            top: -20px;
            left: 0;

            &::before,
            &::after,
            & > span {
                content: '';
                position: absolute;
                width: 3px;
                height: 10px;
                background: $color-loader-steam;
                top: 0;
            }

            &::before {
                left: 10px;
                animation: steam 1s ease-in-out infinite;
            }

            &::after {
                left: 20px;
                animation: steam 1s ease-in-out 0.33s infinite;
            }

            & > span {
                left: 30px;
                animation: steam 1s ease-in-out 0.66s infinite;
            }
        }

        &::after {
            content: '';
            position: absolute;
            left: 45px;
            top: 8px;
            border: 4px solid $color-loader-cup;
            width: 16px;
            height: 20px;
            border-radius: 0 4px 4px 0;
        }
    }
}

@keyframes steam {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    50% {
        transform: translateY(-10px);
        opacity: 0.5;
    }
    100% {
        transform: translateY(-20px);
        opacity: 0;
    }
}

@keyframes visibility {
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes dots {
    0% {
        content: '';
    }
    25% {
        content: '.';
    }
    50% {
        content: '..';
    }
    75%, 100% {
        content: '...';
    }
}
