// main

// Main and Header Styling with Separators
.header,
.main__location
{
	position: relative; // Ensure the pseudo-element is positioned relative to its parent

	&::after
	{
		content: '';
		display: block;
		height: 10px; // Height of the separator
		background-color: $color-light-grey; // Light gray color for the separator
		box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2); // 5px shadow below
		position: absolute;
		bottom: -10px; // Position the separator 10px below the element
		left: 0;
	}
}

.main
{
    // div .main__location
    &__location
    {
        height: 50px;
        background-color: #EAEAEA;
        background: var(--Grey-2, #EAEAEA);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        font-size:16px;
        @include flex-center;
            p::before
            {
                content: '\f3c5';
                font-family: 'FontAwesome';
                margin-right: 15px;
            }
    }

    // section .main__description
    &__description
    {
        flex-direction: column;
        padding: 40px 26px 57px 34px;
        text-align: center;
        background-color: $color-bg-grey;
        @include flex-center;
            &__text
            {
                margin: px2rem(15) 0 px2rem(35);
                font-weight: 300;
            }
            &__btn
            {
                @include button-style;
                @include button-shadow;
                @include respond-to(tablet-desktop)
                {
                    padding: px2rem(20);
                }
                &:hover
                {
                    @include button-hover; 
                }
            }
    }

// section main__workflow

// section main__workflow

&__workflow 
{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: px2rem(50) px2rem(20);
	// margin-top: 48px;

	@media screen and (min-width: $breakpoint-tablet) 
	{
		padding: px2rem(50) px2rem(80);
		align-items: flex-start;
	}

	@media screen and (min-width: $breakpoint-desktop) 
	{
		padding: px2rem(50) px2rem(180);
	}

	&__title 
	{
		font-size: 2rem;
		margin-bottom: 1.5rem;
		text-align: center;

		@media screen and (min-width: $breakpoint-tablet) 
		{
			text-align: left;
		}
	}

	&__steps 
	{
		display: flex;
		flex-direction: column;
		align-items: center;
		width:100%;

		@media screen and (min-width: $breakpoint-tablet) 
		{
			flex-direction: row;
			justify-content: space-between;
			width: 100%;
		}
	}

	&__step 
	{
		display: flex;
		align-items: center;
		background-color: #f8f8f8;
		border-radius: 20px;
		padding: 1rem;
		margin: 0 20px 25px 20px;
		box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
		width:100%;

		@media screen and (min-width: $breakpoint-tablet) 
		{
			margin-bottom: 0;
			margin-right: 1rem;
            width:30%;
            
		

		&:last-child 
		{
			margin-right: 0;
		}
		}
	}

	&__number 
	{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 24px;
		height: 24px;
		margin-right: 1rem;
		background-color: $color-primary;
		color: #fff;
		border-radius: 50%;
		font-size: 1rem;
		position:absolute;
		margin-left:px2rem(-30);
	}

	&__icon 
	{
		font-size: 1.5rem;
		color: #757575;
		margin-right: 1rem;

		// &--step1 
		// {
		// 	color: $color-primary; // Specific color for step 1 icon
		// }

		// &--step2 
		// {
		// 	color: $color-primary; // Specific color for step 2 icon
		// }

		&--step3 
		{
			color: $color-primary; // Specific color for step 3 icon
		}
	}

	&__text 
	{
		font-size: 1rem;
		color: #333;
	}
}
}



// Section .workflow Fonctionnement (classe: workflow)


// Section Restaurant

.restaurant-section {
    padding: 54px 2vh 68px 2vh;
        // margin-bottom: px2rem(68);
    background-color: $color-bg-grey;

    @media screen and (min-width: $breakpoint-tablet) {
        // margin-bottom: px2rem(30);
        padding: 0 60px 30px 60px;
    }
    @media screen and (min-width: $breakpoint-desktop) {
        // margin-bottom: px2rem(30);
        padding: 0 180px 30px 180px;
    }


    &__heading {
        font-size: 2rem;
        margin: 0 0 1.5rem 0;
    }

    &__items {
        display: grid; /* Changed from flex to grid */
        grid-template-columns: 1fr; /* Set single column for smaller screens */

        margin: 0 auto;
        width: 100%;
        max-width: px2rem(2000);
        @media screen and (min-width: $breakpoint-tablet) {
			gap: 25px 50px;
            grid-template-columns: repeat(2, 1fr); /* Two columns for tablet and larger screens */
        }
		@media screen and (min-width: $breakpoint-desktop) {
			gap: 50px 100px;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        // margin-bottom: 1.5rem;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        position: relative;

        a {
            text-decoration: none;
            color: inherit;
        }
    }

    &__image {
        width: 100%;
        height: 175px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }

    &__badge {
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: $color-tertiary;
        color: #008766;
        padding: 0.5rem 1rem;
        font-size: 0.875rem;
        border-radius: 4px;
    }

    &__info {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 30%;
        padding: px2rem(10) px2rem(15);

        h3 {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-weight: 700;
            font-size: 18px;
        }

        p {
            font-weight: 300;
            font-size: 17px;
        }

        &__heart {
            @include flex-center;
            width: 22px;
            height: 21px;

            &::before {
                @include heart;
            }

            &::after {
                @include heart;
                @include heart-solid;
            }

            &:hover::before {
                color: transparent;
            }

            &:hover::after {
                font-weight: 900;
                opacity: 1;
            }
        }
    }
}

