// main

// Main and Header Styling with Separators
.header,
.main__location
{
	position: relative; // Ensure the pseudo-element is positioned relative to its parent

	&::after
	{
		content: '';
		display: block;
		height: 10px; // Height of the separator
		background-color: $color-light-grey; // Light gray color for the separator
		box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2); // 5px shadow below
		position: absolute;
		bottom: -10px; // Position the separator 10px below the element
		left: 0;
	}
}

.main
{
    // div .main__location
    &__location
    {
        height: 50px;
        background-color: #EAEAEA;
        background: var(--Grey-2, #EAEAEA);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        font-size:16px;
        @include flex-center;
            p::before
            {
                content: '\f3c5';
                font-family: 'FontAwesome';
                margin-right: 15px;
            }
    }

    // section .main__description
    &__description
    {
        flex-direction: column;
        padding: 40px 26px 57px 34px;
        text-align: center;
        background-color: #F6F6F6;
        @include flex-center;
            &__text
            {
                margin: px2rem(15) 0 px2rem(35);
                font-weight: 300;
            }
            &__btn
            {
                @include button-style;
                @include button-shadow;
                @include respond-to(tablet-desktop)
                {
                    padding: px2rem(20);
                }
                &:hover
                {
                    @include button-hover; 
                }
            }
    }

    // section main__workflow
    &__workflow 
    {
        padding: 48px 2vh 68px 2vh;

        @media screen and (min-width: $breakpoint-tablet) {
            text-align: left;
            margin-bottom:0;
            padding: 50px 80px 50px 80px;
            min-width: 760px;
        }

        @media screen and (min-width: $breakpoint-desktop) {
            text-align: left;
            margin-bottom:0;
            padding: 50px 180px 50px 180px;
        }

        &__title 
        {
            font-size: 2rem;
            margin-bottom: 1.5rem;
            @media screen and (min-width: 768px) {
                align-self: center;
            }
        }
    
        &__step 
        {
            display: flex;
            align-items: center;
            background-color: #f8f8f8;
            border-radius: 20px; 
            padding: 1rem;
            margin-bottom: 25px;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    
            &:last-child 
            {
                margin-bottom: 0;
            }
        }
    
        &__number 
        {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 30px;
            margin-right: 1rem;
            background-color: $color-primary;
            color: #fff;
            border-radius: 50%;
            font-size: 1rem;
        }
    
        &__icon 
        {
            font-size: 1.5rem;
            color: #757575; // Default icon color
            margin-right: 1rem;
    
            &--step1 
            {
                // color: $color-primary; // Color for step 1 icon
            }
    
            &--step2 
            {
                // color: $color-primary; // Color for step 2 icon
            }
    
            &--step3 
            {
                color: $color-primary; // Color for step 3 icon
            }
        }
    
        &__text 
        {
            font-size: 1rem;
            color: #333;
        }
    }
}


// Section .workflow Fonctionnement (classe: workflow)


// Section Restaurant

.restaurant-section
{
	padding: 0 2vh;
    @media screen and (min-width: $breakpoint-desktop) {
        margin-bottom:px2rem(30);
        padding: 0 180px 0 180px;
    }
    @media screen and (min-width: $breakpoint-tablet) {
        margin-bottom:px2rem(30);
        padding: 0 80px 0 80px;
    }
    margin-bottom:px2rem(68);

	&__heading
	{
		font-size: 2rem;
		margin-bottom: 1.5rem;
	}

	&__item
	{
		display: flex;
		flex-direction: column;
		margin-bottom: 1.5rem;
		background-color: #fff;
		border-radius: 8px;
		box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
		overflow: hidden;
		position: relative;

		&:last-child
		{
			margin-bottom: 0;
		}

		a
		{
			text-decoration: none;
			color: inherit;
		}
	}

	&__image
	{
		width: 100%;
		height: 175px;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
	}

	&__badge
	{
		position: absolute;
		top: 10px;
		right: 10px;
		background-color: $color-tertiary;
		color: #008766;
		padding: 0.5rem 1rem;
		font-size: 0.875rem;
		border-radius: 4px;

	}

	&__info
    {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 30%;
        padding: px2rem(10) px2rem(15);
        h3{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &__heart{
            @include flex-center;
            width: px2rem(30);
            height: px2rem(30);
            &::before{
                @include heart;
            }
            &::after{
                @include heart;
                @include heart-solid;
                }
            &:hover::before{
                color:transparent;
            }
            &:hover::after{
                font-weight: 900;
                opacity: 1;
            }
        }
    }
}
