


// Font-size
$base-font-size : 16px;

$breakpoint-tablet: 767px;
$breakpoint-desktop: 1023px;
$breakpoint-lg-desktop: 1440px;


// Identité graphique

// Polices
// Logo et titres : Shrikhand
// Texte : Roboto

// Font-family
$text-font : 'Roboto', sans-serif;
$title-font : 'Shrikhand', cursive;

// Couleurs identité graphique
$color-primary : #9356DC;
$light-primary-color : lighten($color-primary, 5%);
$color-secondary : #FF79DA;
$light-secondary-color : lighten($color-secondary, 5%);
$color-tertiary : #99E2D0;

// Ajout de couleurs
$color-grey: #eaeaeac2; // Define your grey color variable
$color-dark-grey: #333; // Dark grey color for text and icon
$color-light-grey: lighten($color-grey, 10%); // Lighter grey color using lighten function


$gradient : linear-gradient(to bottom, $color-secondary, $color-primary 80%);
$light-gradient : linear-gradient(to bottom, $light-secondary-color, $light-primary-color 80%);

// Couleurs de la tasse à café lors du chargement
$color-loader-cup: #ffffff; // Couleur de la tasse
$color-loader-text: #ffffff; // Couleur du texte du chargement
$color-loader-steam: #9356DC; // Couleur de la vapeur

$color-heart: #e57373; // Color for the heart icon