
// Font-size
$base-font-size : 16px;

// Identité graphique


// Polices
// Logo et titres : Shrikhand
// Texte : Roboto

// Font-family
$text-font : 'Roboto', sans-serif;
$title-font : 'Shrikhand', cursive;

// Couleurs identité graphique
$color-primary : #9356DC;
$color-secondary : #FF79DA;
$color-tertiary : #99E2D0;