// Main
.main__banner {
    height: 252px;

@media screen and (min-width: $breakpoint-tablet) {
    height: 394px;
}
}

.main__menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0 px2rem(40);
    position: relative;
    top: -50px;
    border-radius: 40px 40px 0 0;
    // min-width: 635px;
    padding: 51px 13px 0px 13px;
    
    @media screen and (min-width: $breakpoint-tablet) {
        flex-direction: row;
        padding: 51px 210px 40px 210px;

    }
    @media screen and (min-width: 1400px) {
        margin: 0 192px;
    }
    background-color: $color-bg-grey;

    &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: "Shrikhand", cursive;
        font-weight: 400;
        width: 100%;
        font-size: clamp(28px, px2rem(28), 2.5rem);
        padding: 0;
        @media screen and (min-width: $breakpoint-tablet) {
            padding: 0px 2rem 0 2rem;
        }


        @media screen and (min-width: $breakpoint-desktop) {
            justify-content: center;
        }

        h2 {
            @include flex-center;
        }
    }

    .heart {
        width: 2rem;
        height: 2rem;
        margin-right:24px;

        @media screen and (min-width: $breakpoint-desktop) {
            margin-left: 2rem;
        }

        &::before {
            @include heart;
        }

        &::after {
            @include heart;
            @include heart-solid;
        }

        &:hover::before {
            color: transparent;
        }

        &:hover::after {
            font-weight: 900;
            opacity: 1;
        }
    }

    &__items {
        padding: 1rem 0 0;
        width: 100%;

        @media screen and (min-width: $breakpoint-tablet) {
            width: 100%; 
            padding-bottom: 2.5rem;
        }

        h3 {
            position: relative;
            margin-bottom: 2rem;
            // padding-left: 1rem;
            font-weight: 300;
            text-transform: uppercase;

            &::before {
                content: '';
                position: absolute;
                bottom: -0.5rem;
                width: 3rem;
                height: 0.25rem;
                background-color: $color-tertiary;
            }
        }
    }

    &__btn-order {
        @include button-style;
        @include button-shadow;
        padding: 1rem 2.5rem;
        margin: 40px 25% 40px 25%;

        &:hover {
            @include button-hover;
        }
    }
}

// Meal
.menu-item {
    display: flex;
    @include button-shadow;
    border-radius: 0.5rem;
    margin-top: 1.25rem;
    cursor: pointer;
    overflow: hidden;
    animation: appear 1s both;

    @media screen and (min-width: 1300px) {
        margin-top: 2.5rem;
    }

    @for $i from 2 through 5 {
        &:nth-child(#{$i}) {
            animation-delay: 100ms * $i;
        }
    }

    &__description {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 15px 0 15px 15px;

        h4 {
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: clamp(18px, px2rem(18), 1.3rem);
            font-weight: 500;
            white-space: nowrap;
        }

        p {
            overflow: hidden;
            text-overflow: ellipsis;
            font-weight: 300;
            font-size: clamp(15px, px2rem(15), 1.1rem);
            white-space: nowrap;
        }
    }

    &__price {
        font-weight: 700;
        font-size: clamp(15px, px2rem(15), 1.1rem);
        margin-left: auto;
        flex-shrink: 0;
        display: flex;
        align-items: flex-end;
        padding: 15px 15px 15px 5px;
    }

    &__check {
        @include flex-center;
        margin-right: -65px;
        width: 65px;
        padding: 0 1rem;
        background-color: $color-tertiary;
        transition: margin-right 0.4s ease-in-out;

        &::after {
            content: '\f00c';
            font-family: 'FontAwesome';
            padding: 0.5rem;
            border-radius: 50%;
            color: $color-tertiary;
            font-size: 1rem;
            background-color: #fff;
            transition: transform 0.4s ease-in-out;

            @media screen and (min-width: 1300px) {
                padding: 0.75rem;
            }
        }
    }

    &:hover &__check,
    &:focus &__check {
        margin-right: 0;
    }

    &:hover &__check::after,
    &:focus &__check::after {
        transform: rotate(360deg);
    }
}

.footer-menu {
    margin-top: -50px; // pour compenser le top:-50px
}
