// Main
.main__banner {
    height: 252px;

@media screen and (min-width: $breakpoint-tablet) {
    height: 394px;
}
}

.main__menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0 40px;
    position: relative;
    top: -50px;
    border-radius: 40px 40px 0 0;
    // min-width: 635px;
    padding: 51px 13px 40px 13px;
    align-items: center;
    
    @media screen and (min-width: $breakpoint-tablet) {
        flex-direction: row;
        padding: 51px 50px 40px 50px;
        margin: 0 40px;

    }
    @media screen and (min-width: $breakpoint-desktop) {
        margin: 0 192px;
    }
    background-color: $color-bg-grey;

    &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: "Shrikhand", cursive;
        font-weight: 400;
        width: 100%;
        font-size: 28px;
        padding: 0;
        @media screen and (min-width: $breakpoint-tablet) {
            padding: 0px 2rem 0 2rem;
            justify-content: center;
        }


        @media screen and (min-width: $breakpoint-desktop) {
            justify-content: center;
        }

        h2 {
            @include flex-center;
        }
    }

    .heart {
        width: 32px;
        height: 32px;
        margin-right:24px;
        

        @media screen and (min-width: $breakpoint-tablet) {
            margin-left:50px;
        }

        @media screen and (min-width: $breakpoint-desktop) {
            margin-left: 32px;
        }

        &::before {
            @include heart;
        }

        &::after {
            @include heart;
            @include heart-solid;
        }

        &:hover::before {
            color: transparent;
        }

        &:hover::after {
            font-weight: 900;
            opacity: 1;
        }
    }

    &__items {
        // padding: 16px 0 0;
        width: 100%;
        margin-top:40px;

        @media screen and (min-width: $breakpoint-tablet) {
            width: 100%; 
        }

        h3 {
            position: relative;
            margin-bottom: 20px;
            // padding-left: 16px;
            font-weight: 300;
            text-transform: uppercase;

            &::before {
                content: '';
                position: absolute;
                bottom: -8px;
                width: 40px;
                height: 3px;
                background-color: $color-tertiary;
            }
        }
    }

    &__btn-order {
        @include button-style;
        @include button-shadow;
        margin: 40px 0 0 0;
        width:186px;

        &:hover {
            @include button-hover;
        }
    }
}

// Meal
.menu-item {
    display: flex;
    @include button-shadow;
    border-radius: 15px;
    margin-top: 12px;
    cursor: pointer;
    overflow: hidden;
    animation: load-menu 1.5s both;
    background-color: #fff;

    @media screen and (min-width: $breakpoint-desktop) {
        margin-top: 12px;
    }

    @for $i from 2 through 5 { // on doit commmencer à 2 car le 1 correspond au h3
        &:nth-child(#{$i}) {
            animation-delay: 150ms * $i;
        }
    }

    &__description {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 15px 0 15px 15px;

        h4 {
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 18px;
            font-weight: 500;
            white-space: nowrap;
        }

        p {
            overflow: hidden;
            text-overflow: ellipsis;
            font-weight: 300;
            font-size: 15px;
            white-space: nowrap;
        }
    }

    &__price {
        font-weight: 700;
        font-size: 15px;
        margin-left: auto;
        flex-shrink: 0;
        display: flex;
        align-items: flex-end;
        padding: 15px 15px 15px 5px;
    }

    &__check {
        @include flex-center;
        margin-right: -65px;
        width: 65px;
        padding: 0 16px;
        background-color: $color-tertiary;
        transition: margin-right 0.4s ease-in-out;

        &::after {
            content: '\f00c';
            font-family: 'FontAwesome';
            padding: 3px 4px;
            border-radius: 50%;
            color: $color-tertiary;
            font-size: 14px;
            background-color: #fff;
            transition: transform 0.4s ease-in-out;
        }
    }

    &:hover &__check,
    &:focus &__check {
        margin-right: 0;
    }

    &:hover &__check::after,
    &:focus &__check::after {
        transform: rotate(360deg);
    }
}

.footer-menu {
    margin-top: -50px; // pour compenser le top:-50px
}
